<template>
  <div id="app">
    <!-- Pasarle props y escuchar eventos del componente hijo, que sirve para pasarle datos normalmente
    se pueden escuchar como un evento cualquier ej click, que a su vez pueden disparar una función propia.
    en el componente hijo se declara como un this.$emit('nombreDelEvento', datos)
    Los datos se recibirán como argumento de la función en $event
    Al hacer el cambio del dato en el componente padre, la reactividad nativa de vue hace que se re-rendericen
    las partes necesarias para mostrar el cambio en el dom, lo cual afecta a todos los componentes que utilicen
    el atributo como prop. En este caso msg cambia en el appHeader y en el appFooter al mismo tiempo cuando 
    ocurre el cambio-->
    <appHeader :title="msg" @changeTitle="updateTitle($event)"/>
    <!-- <img alt="Vue logo" src="./assets/logo.png">
    <h1>{{msg}}</h1>
    <p>{{ greeting() }}</p>-->
    <Ninjas :ninjas="ninjas"/>
    <!-- <Ninjas :ninjas="ninjas"/> -->
    <appFooter :year="msg"/>
    <!-- Slots, o transclusion in angular Para pasar contenido más complejo al componente hijo a través de html -->
    <!-- Contenido que se va a pasar al componente hijo, el cuál se renderizará con la etiqueta slot, reservada
      en vue, los slots se pueden nombrar para poder seleccionar dónde renderizarlos específicamente en el 
    componente hijo-->
    <formHelper>
      <div slot="form-header">
        <h3>This is the title of the form</h3>
        <p>Information about the form</p>
      </div>
      <div slot="form-fields">
        <input type="text" placeholder="name" required>
        <input type="password" placeholder="password" required>
      </div>
      <div slot="form-controls">
        <button @click.prevent="handleSubmit">Submit</button>
      </div>
    </formHelper>
    <hr>
    <h1>Dynamic Components</h1>
    <Dinroot/>
  </div>
</template>

<script>
/** Importación local de componentes anindados */
import Ninjas from './components/Ninjas';
import appHeader from './components/skeleton/Header';
import appFooter from './components/skeleton/Footer';
import formHelper from './components/FormHelper';
import Dinroot from './components/Dinroot';

export default {
  name: 'app',
  /** Registro de componentes, el cuál es un objeto dentro del objeto de configuración
   * pero por ES6 no es necesario que sea un kvp, simplemente se agrega como una instancia
   */
  components: { Ninjas, appHeader, appFooter, formHelper, Dinroot },
  data: () => ({
    msg: 'Welcome to my vue file, Vuetiful!',
    ninjas: [
      { name: 'Ryu', speciality: 'Vue Components', show: false },
      { name: 'Crystal', speciality: 'HTML Wizardry', show: false },
      { name: 'Hitoshi', speciality: 'Click Events', show: false },
      { name: 'Tango', speciality: 'Conditionals', show: false },
      { name: 'Kami', speciality: 'Webpack', show: false },
      { name: 'Yoshi', speciality: 'Data Diggin', show: false }
    ]
  }),
  methods: {
    greeting: () => 'Heey cowboy',
    /** Recibe el evento y cambia su valor */
    updateTitle(event) {
      this.msg = event;
    }
  }
};
</script>

<style lang="scss">
#app {
  font-family: 'Rubik', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
body {
  margin: 0px;
}
h1 {
  color: purple;
}
</style>
