<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VueJS Tutorial</title>
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <script src="https://unpkg.com/vue"></script>
</head>

<body>

  <!-- Instance basics -->
  <div id="vue-app">
    <h1>Basics</h1>
    <h3>My name is {{ name }}, I'm a {{job}}</h3>
    <p>{{ greet('afternoon') }}</p>
    <a v-bind:href="website">9 Gag</a> <br>
    <input type="text" :value="name">
    <div v-html="websiteTag"></div>
  </div>

  <hr>

  <!-- Events -->
  <div id="vue-events">
    <h1>Vue events</h1>
    <h3>My age is {{age}}</h3>
    <button @click="add()">Add a year</button>
    <button @dblclick.once="add(1)">Add 10 years</button>
    <button @click="subtract()">Subtract a year</button>
    <button @dblclick="subtract(1)">Subtract 10 years</button>
    <div style="margin-top: 3rem" class="canvas" @mousemove.stop="updateCoordenates">{{x}}, {{y}}</div>
    <a @click.prevent="leaving" href="https://9gag.com">9gag</a>
  </div>

  <hr>
  <!-- Keyboard Events and computed -->
  <div id="vue-kbe-computed">
    <h1>Vue keyboard events</h1>
    <label>Name:</label>
    <input type="text" @keyup.enter="log" v-model="name">
    <p>{{ name }}</p>
    <label>Age</label>
    <input type="text" @keyup.alt.enter="logAge" v-model="age">
    <p>{{ age }}</p>

    <hr>

    <h1>Computed properties</h1>
    <button @click="a++">Add to A</button>
    <button @click="b++">Add to b</button>
    <p>A - {{a}}</p>
    <p>B - {{b}}</p>
    <!-- Output age plus a and b -->
    <p>Age + A = {{ addToA }}</p>
    <p>Age + B = {{ addToB }}</p>
  </div>

  <hr>

  <div id="vue-conditionals-loops">
    <h1>Conditionals</h1>
    <button @click="error = !error">Toggle Error</button>
    <button @click="success = !success">Toggle Success</button>
    <p v-if="error">Im an error</p>
    <p v-else-if="success">whoo, success! :)</p>

    <hr>
    <h1>Loops</h1>
    <ul>
      <li v-for="(char, index) of characters"> {{index + 1 }}. {{char}} </li>
    </ul>
    <ul>
      <li v-for="(ninja, i) of ninjas">{{i+1}}. {{ninja.name}} - {{ninja.age}}</li>
    </ul>

    <template v-for="(ninja, n) of ninjas">
      <h3>{{n + 1}}. {{ninja.name}}</h3>
      <p>{{ ninja.age }}</p>
    </template>

    <template v-for="(ninja, n) in ninjas">
      <div v-for="(val, key) of ninja">{{key}}: {{val}}</div>
    </template>

  </div>

  <hr>

  <div id="small-project">
    <h1>Small Punching Bag project</h1>
    <!-- Bag Image -->
    <div id="bag" :class="{ burst: end }"></div>
    <!-- Bag Health -->
    <div id="bag-health">
      <div :style="{width: health + '%'}"></div>
    </div>
    <!-- Game controls -->
    <div id="controls">
      <h3>Health: {{health}}</h3>
      <h3>Hit by</h3>
      <span v-for="(point, i) of dmg" :key="i">{{point}}, </span> <br>
      <button v-if="!end" @click="punch">Punch</button>
      <button v-else @click="restart">Restart</button>
    </div>
  </div>

  <hr>

  <!-- Components -->
  <div>
    <div id="vue-components1">
      <h1>Components</h1>
      <greeting />
    </div>

    <div id="vue-components2">
      <greeting />
    </div>
  </div>
  <hr>

  <!-- Refs -->
  <div id="vue-refs">
    <h1>Refs</h1>
    <input @keyup="readRefs" type="text" ref="input">
    <button @click="readRefs">Get Refs</button>
    <p ref="paragraph">Your fav food {{output}}</p>
  </div>
  <div style="height: 500px"></div>

  <script src="app.js"></script>
</body>

</html>