body {
  font-family: 'Rubik', sans-serif;
}

.canvas {
  width: 600px;
  padding: 200px 20px;
  text-align: center;
  border: 1px solid #333;
}



#bag {
  width: 200px;
  height: 500px;
  margin: auto;
  background: url(/assets/bag.png) center no-repeat;
  background-size: 80%;
}

#bag.burst {
  background: url(/assets/bag-burst.png) center no-repeat;
  background-size: 80%;
}

#bag-health {
  width: 200px;
  border: 1px solid black;
  margin: 0 auto 20px auto
}

#bag-health div {
  height: 20px;
  background: crimson;
}

#controls {
  width: 600px;
  margin: auto;
}