<template>
  <v-footer fixed dark inset app class="pa-3 white--text">
    <v-spacer></v-spacer>
    <div>&copy; {{ new Date().getFullYear() }}</div>
  </v-footer>
</template>

<script>
export default {}
</script>

<style>
</style>
