<template>
  <nav>
    <v-snackbar v-model="snackbar" :timeout="4000" top color="success">
      <span>Awesome! You added a new project.</span>
      <v-btn flat color="white" @click="snackbar = false">Close</v-btn>
    </v-snackbar>

    <v-toolbar :dark="dark" flat app clipped-left>
      <!-- el toolside icon funciona como el ícono clásico de apertura de menú -->
      <v-toolbar-side-icon @click.stop="drawer = !drawer" class="grey--text"></v-toolbar-side-icon>
      <v-toolbar-title class="text-uppercase grey--text">
        <span class="font-weight-light">Intranet</span>
        <span>Kodistos</span>
      </v-toolbar-title>
      <!-- Como vuetify usa flexbox internamente, el siguiente componente equivale a un span con estilo flex 1 1 auto -->
      <v-spacer></v-spacer>

      <!-- <div class="text-xs-center">
    <v-menu offset-y>
      <v-btn
        slot="activator"
        color="primary"
        dark
      >
        Dropdown
      </v-btn>
      <v-list>
        <v-list-tile
          v-for="(item, index) in items"
          :key="index"
          @click=""
        >
          <v-list-tile-title>{{ item.title }}</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
      </div>-->
      <!-- dropdown menú -->
      <v-menu offset-y>
        <v-btn flat slot="activator" color="grey">
          <v-icon small left>expand_more</v-icon>
          <span>menu</span>
        </v-btn>
        <v-list>
          <v-list-tile v-for="(link, i) of links" :key="i" router :to="link.route">
            <v-list-tile-title>{{ link.text }}</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>

      <v-btn flat color="grey">
        <span>Sign Out</span>
        <v-icon right>exit_to_app</v-icon>
      </v-btn>
      <v-toolbar-side-icon @click.stop="drawerb = !drawerb" class="grey--text"></v-toolbar-side-icon>
    </v-toolbar>

    <!-- prop app necesario para que se muestre en la página
    NOTA: por default en screen sizes más grandes de sm, el drawer empuja el contenido de la página
    en screens más  pequeñas el drawer oscurece el fondo y se antepone a la página-->
    <v-navigation-drawer :dark="dark" app clipped v-model="drawer">
      <!-- Componente de lista para crear los menús en este drawer -->
      <v-layout column align-center>
        <v-flex class="mt-5">
          <v-responsive>
            <v-avatar size="100">
              <img src="assets/avatar-1.png" alt>
            </v-avatar>
            <p class="white--text subheading mt-1">The Net Ninja</p>
          </v-responsive>
        </v-flex>
        <Popup @projectAdded="snackbar = true"/>
      </v-layout>

      <v-list>
        <v-list-tile v-for="(link, i) of links" :key="i" router :to="link.route">
          <v-list-tile-action>
            <v-icon>{{link.icon}}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{link.text}}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>

    <v-navigation-drawer app right mini-variant v-model="drawerb">
      <v-switch :label="dark ? 'LM' : 'DM'" color="grey darken-3" v-model="dark"></v-switch>
    </v-navigation-drawer>
  </nav>
</template>

<script>
import Popup from './Popup'
export default {
  components: {
    Popup
  },
  data: () => ({
    drawer: false,
    drawerb: false,
    dark: true,
    snackbar: false,
    links: [
      { icon: 'dashboard', text: 'Dashboard', route: '/' },
      { icon: 'folder', text: 'My Projects', route: '/projects' },
      { icon: 'person', text: 'Team', route: '/team' },
      { icon: 'android', text: 'temporal', route: '/br' }
    ]
  })
}
</script>

<style>
</style>
