<template>
  <v-dialog max-width="600px" v-model="dialog">
    <!-- Cuando un dialog se abre, automáticamente la propiedad que lo mantiene abierto se
    setea a true, es posible volver a ponerla a false haciendo un two way binding y programáticamente
    resetar el valor-->
    <v-btn flat slot="activator" class="info">Add new project</v-btn>
    <v-card>
      <v-card-title>
        <h2>Add a new project</h2>
      </v-card-title>
      <v-card-text>
        <v-form class="px-3" ref="form">
          <v-text-field label="Title" v-model="title" prepend-icon="folder" :rules="inputRules"></v-text-field>
          <v-textarea label="Information" v-model="content" prepend-icon="edit" :rules="inputRules"></v-textarea>

          <v-menu>
            <v-text-field
              :value="formattedData"
              :rules="inputRules"
              slot="activator"
              label="Due date"
              prepend-icon="date_range"
            ></v-text-field>
            <v-date-picker dark v-model="dueDate"></v-date-picker>
          </v-menu>

          <v-spacer></v-spacer>
          <v-btn flat class="success mx-0 mt-3" @click="submit" :loading="isLoading">Add project</v-btn>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import format from 'date-fns/format'
// import es_mx from 'date-fns/locale/es'
import db from '../fb.js'

export default {
  data() {
    return {
      title: '',
      content: '',
      dueDate: null,
      isLoading: false,
      inputRules: [v => v.length >= 3 || 'Minimum length is 3 characters'],
      dialog: false
    }
  },
  methods: {
    submit() {
      if (this.$refs.form.validate()) {
        this.isLoading = true
        // console.log(this.title, this.content)
        const project = {
          title: this.title,
          content: this.content,
          due: format(this.dueDate, 'Do MMMM YYYY'),
          person: 'The Net Ninja',
          status: 'ongoing'
        }
        db.collection('projects')
          .add(project)
          .then(() => {
            this.isLoading = false
            this.dialog = false
            this.$emit('projectAdded')
          })
      }
    }
  },
  computed: {
    formattedData() {
      return this.dueDate
        ? format(this.dueDate, 'Do MMMM YYYY')
        : /* Formatear la fecha en español directamente en el date picker* 
        ? format(this.dueDate, 'D [de] MMMM YYYY', { locale: es_mx })
        */
          ''
    }
  }
}
</script>

<style>
</style>
