<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>plain</title>
</head>

<body>
  <div id="app"></div>

</body>

</html>