<template>
  <div>
    <h2>Different Components</h2>
    <button @click="switchComponent">Switch components</button>
    <component :is="component"></component>
  </div>
</template>

<script>
import One from './nested/One';
import Two from './nested/Two';
export default {
  data: () => ({ component: 'One' }),
  components: { One, Two },
  methods: {
    switchComponent() {
      this.component === 'One' ? this.component = 'Two' : this.component = 'One';
    }
  }
};
</script>

<style>
</style>
