<template>
  <div id="ninjas">
    <h1>Some ninjas for you</h1>
    <ul>
      <li v-for="(ninja, i) of ninjas" :key="i" @click="ninja.show = !ninja.show">
        <h2>{{ninja.name}}</h2>
        <h3 v-if="ninja.show">{{ ninja.speciality }}</h3>
        <!-- <p v-for="(data, k, v) of ninja" :key="k">{{data}} {{k}}, {{v}}</p> -->
      </li>
    </ul>
    <button @click="deleteNinja">Delete ninja</button>
  </div>
</template>

<script>
export default {
  props: ['ninjas'],
  methods: {
    deleteNinja() {
      this.ninjas.pop();
    }
  },
  /** Life cycle-hooks */
  beforeCreate() {
    /** aquí aún no existe la propiedad y se está tratando de acceder a un undefined */
    // console.log(this.ninjas);
    // alert('beforeCreate');
  },
  created() {
    // alert('created');
    // console.log(this.ninjas);
  },
  beforeMount() {
    // alert('beforeMount');
  },
  mounted() {
    // alert('mounted');
  },
  beforeUpdate() {
    // alert('beforeUpdate');
  },
  updated() {
    // alert('updated');
  },
  /** NOTA: Al cambiar el dom, o re-renderizar el componente por cambios se ejecutaron los hooks de
   * destrucción
   */
  beforeDestroy() {
    // alert('beforeDestroy');
  },
  destroyed() {
    // alert('destroyed');
  }
};
</script>

<style scoped lang="scss">
h1 {
  color: green;
}
ul li {
  cursor: pointer;
}
#ninjas {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
  box-sizing: border-box;
}
ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}
li {
  flex-grow: 1;
  flex-basis: 300px;
  text-align: center;
  padding: 30px;
  border: 1px solid #222;
  margin: 10px;
}
</style>


