<template>
  <!-- Todo debe estár wrappeado dentro de v-app ya que es el contenedor de todo el framework de vuetify -->
  <v-app class="grey lighten-4">
    <!-- el prop app pega el toolbar arriba, props 
    <v-toolbar app>
    </v-toolbar>
    -->
    <appNavbar/>

    <!-- v-content es donde entra todo el contenido de la página, toolbar va arriba, el footer debajo -->
    <v-content class="ma-4">
      <router-view></router-view>
    </v-content>

    <appFooter/>
  </v-app>
</template>

<script>
import appNavbar from '@/components/Navbar'
import appFooter from '@/components/Footer'

export default {
  name: 'App',
  components: { appNavbar, appFooter }
}
</script>
