<template>
  <footer>
    <p>{{ copyright }} &copy; {{ year }}</p>
  </footer>
</template>

<script>
import { bus } from '@/main';

export default {
  /** En lugar de title */
  props: ['year'],
  data: () => ({ copyright: 'Copyright Vue Ninjas' }),
  /** Life cycle hook */
  created() {
    /** Manera de recibir eventos de una instancia de vue, donde del otro lado es bus.$emit, sin embargo aquí de
     * nuevo salta la advertencia de la mutación de props
     */
    bus.$on('titleChanged', data => {
      this.year = data;
    });
  }
};
</script>

<style scoped lang="scss">
footer {
  background: #222;
  padding: 6px;
}

p {
  color: lightgreen;
}
</style>
