<template>
  <header>
    <h1 @click="changeTitle">{{ title }}</h1>
  </header>
</template>

<script>
/** Al utilizar el bus permite evitar comunicación directa entre componentes ya que se puede volver muy
 * complejo muy rápido
 */
import { bus } from '@/main';

export default {
  props: {
    title: {
      type: String
    }
  },
  /** Otro warning si se utiliza el mismo nombre de atributo para datos y props, en este caso el valor preferido será
   * el de props
   */
  data: () => ({ title2: 'Vue Ninjas' }),
  methods: {
    /** Avoiding mutating props, since the value will be overwritten whenever the parent component re-renders
     * Y ésto es lo que pasa cuando se elimina un ninja del array en el componente de ninjas. Como root se re-renderiza
     * El título vuelve a resetearse al valor original del padre. Se hará a través de un evento que informe al
     * padre del cambio para que se cambie en su instancia también. Después se hará a través de un event bus
     */
    changeTitle() {
      // this.title = 'Another Vue Ninja';
      // this.$emit('changeTitle', 'Vue Wizards');
      this.title = 'Vue Wizards';
      bus.$emit('titleChanged', 'Vue Wizards');
    }
  }
};
</script>

<style scoped lang="scss">
header {
  background: lightgreen;
  padding: 10px;
}
h1 {
  color: #222;
  text-align: center;
  cursor: pointer;
}
</style>
