<template>
  <div class="home">
    <h1>Breakpoints and Visibility</h1>
    <!-- <v-btn class="hidden-md-and-down">click me</v-btn> -->
    <!-- Grid system, flexbox es un mecanismo de vanilla css en donde -->
    <v-container class="my-5">
      <!-- v-layout representa un row of content (funciona como fxLayout, donde si se le da el
      column funciona de manera distinta, defaults a row)-->
      <v-layout row wrap>
        <!--  -->
        <v-flex xs12 md6>
          <v-btn outline block class="purple">Click me</v-btn>
        </v-flex>
        <v-flex xs4 md2>
          <v-btn outline block class="purple">Click me</v-btn>
        </v-flex>
        <v-flex xs4 md2>
          <v-btn outline block class="purple">Click me</v-btn>
        </v-flex>
        <v-flex xs4 md2>
          <v-btn outline block class="purple">Click me</v-btn>
        </v-flex>
      </v-layout>

      <v-layout wrap justify-space-around>
        <v-flex xs4 md3>
          <v-btn outline block class="red">Click me</v-btn>
        </v-flex>
        <v-flex xs4 md3>
          <v-btn outline block class="red">Click me</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {}
</script>

<style>
</style>
