<template>
  <div class="home">
    <h1>This is the home page</h1>

    <!-- Colors and text: https://vuetifyjs.com/en/framework/colors -->
    <p
      class="red white--text"
    >Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, veniam. Modi recusandae dolorum perspiciatis illum totam molestiae, architecto vitae odit aspernatur. Inventore, perferendis laborum ad aut facere nihil voluptatem aliquid.</p>
    <p
      class="indigo lighten-4 red--text text--darken-4"
    >Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi atque, dolor, architecto ex numquam pariatur quaerat cumque eveniet laudantium, accusantium molestiae quam in est. Ullam ex sint consequatur deleniti nulla.</p>

    <!-- Typography sizes and classes: https://vuetifyjs.com/en/framework/typography  -->
    <h1 class="display-4 font-weight-thin">Massive Display</h1>
    <h1 class="display-1">Smaller Display</h1>
    <h1 class="headline">This is a headline</h1>
    <h1 class="subheading">This is a subheading</h1>
    <h1 class="caption">This is a caption</h1>

    <!-- Buttons -->
    <v-btn class="pink white--text">Click me</v-btn>
    <v-btn depressed color="green">Click me</v-btn>
    <v-btn flat color="green">Click me</v-btn>
    <v-btn depressed small class="pink white--text">
      <v-icon left small>room</v-icon>
      <span>Email me</span>
    </v-btn>

    <v-btn depressed large dark>
      <span>Email me</span>
      <v-icon right large>room</v-icon>
    </v-btn>

    <v-btn fab small dark color="red">
      <v-icon small>favorite</v-icon>
    </v-btn>
  </div>
</template>

<script>
</script>
