<template>
  <div>
    <h1 class="subheading grey--text">Team</h1>

    <v-container class="my-5">
      <v-layout wrap>
        <v-flex xs12 sm6 md4 lg3 v-for="person of team" :key="person.name">
          <!-- Text alignment: https://vuetifyjs.com/en/framework/alignment -->
          <v-card flat class="text-xs-center ma-3">
            <!-- imagen responsiva en vuetify -->
            <v-responsive class="pt-4">
              <v-avatar size="100">
                <img :src="person.avatar" :alt="person.name">
              </v-avatar>
            </v-responsive>
            <v-card-text>
              <div class="subheading">{{person.name}}</div>
              <div class="cap tion grey--text">{{person.role}}</div>
            </v-card-text>
            <v-card-actions>
              <v-btn flat color="grey">
                <v-icon small left>message</v-icon>
                <span>message</span>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      team: [
        {
          name: 'The Net Ninja',
          role: 'Web developer',
          avatar: 'assets/avatar-1.png'
        },
        {
          name: 'Ryu',
          role: 'Graphic designer',
          avatar: 'assets/avatar-2.png'
        },
        {
          name: 'Chun Li',
          role: 'Web developer',
          avatar: 'assets/avatar-3.png'
        },
        {
          name: 'Gouken',
          role: 'Social media maverick',
          avatar: 'assets/avatar-4.png'
        },
        { name: 'Yoshi', role: 'Sales guru', avatar: 'assets/avatar-5.png' }
      ]
    }
  }
}
</script>

<style>
</style>
